@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

a {
  text-decoration: none;
}

h3 {
  font-family: 'Lora', sans-serif;
}

.storyCard {
  background: #F5F6F4;
  border: 1px solid #F5F6F4;
  border-radius: .5rem;
  box-sizing: border-box;
  padding: 1.5em;
  margin: 1.5em;
}

.btn {
  background-color: #272E44;
  border: 1px solid;
  border-radius: .3rem;
  color: #F5F6F4;
  font-size: .9em;
  padding: .2em;
  width: 10em;
  height: 3em;
}

.btn:hover {
  background-color: #343E5B;
  cursor: pointer;
}